<!DOCTYPE html>
<html>
  <head>
    <title>ScaleGrey Piano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "mohamed"%>
  </head>

  <body>
    <div class="container-fluid">
      <header class="">
      <% if user_signed_in? %>
      <nav class="nav">
        <div class="">
          <%= link_to 'Songs', songs_path, :class => 'btn btn-light btn-lg mr-2' %>
          <%= link_to 'Piano', new_song_path, :class => 'btn btn-light btn-lg mr-2' %>
        </div>
        <div class="">
          <h1 class="ml-2 mr-2">ScaleGrey Piano</h1>
        </div>
        <div class="">
          <%= link_to 'Profile', profile_path(current_user.id), :class => 'btn btn-light btn-lg ml-2' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-light btn-lg ml-2' %>
        </div>
      </nav>
      <% else %>
      <nav class="nav">
        <div class="justify-content-start">
          <%= link_to 'Songs', songs_path, :class => 'btn btn-light btn-lg' %>
          <%= link_to 'Piano', new_song_path, :class => 'btn btn-light btn-lg' %>
        </div>
        <div class="justify-content-end">
          <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-light btn-lg' %>
          <%= link_to "Login", new_user_session_path, :class => 'btn btn-light btn-lg' %>
        </div>
      </nav>
      <% end %>
      </header>
      
      
      <%= yield %>

    </div>

    <footer class="">
      <p class="text-center">copywrong Final Form Dev Group</p>
    </footer>

      <% if notice %>
        <p class="alert alert-dark"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
  </body>
</html>
